<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jumpi.repartidores_aplication">


    <!-- ########################## PERMISOS #################################### -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_av_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".ActivityLogin"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">


                <!--<intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>-->


        </activity>

        <!-- #################### Para REPARTIDORES ########################### -->
        <activity
            android:name=".ActivityMainRepartidores"
            android:label="@string/title_activity_main_repartidores"
            android:parentActivityName=".ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar">


            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>
        <activity
            android:name=".ActivityMapaRepartidores"
            android:label=""
            android:parentActivityName=".ActivityMainRepartidores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityNavigationRepartidores"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityVentasClientes"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityEditarClientes"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityAgregarCliente"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetalleEnvases"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetalleArticulos"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetalleDinero"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetalleFaltanteSobranteEnvases"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />


        <!-- ########################## Para SUPERVISORES ########################### -->
        <activity
            android:name=".ActivityMainSupervisores"
            android:label="@string/title_activity_main_supervisores"
            android:parentActivityName=".ActivityLogin"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityCombustibleEstadisticas"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityVentaBidonesEstadisticas"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityNuevoEventoPatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBuscarResponsablePatrocinio"
            android:label="@string/title_activity_buscar_responsable_patrocinio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityEntregaRetiroEnvasesPatrocinio"
            android:configChanges="screenSize|orientation"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ActivityNuevoResponsablePatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityBuscarClienteVentas"
            android:label="@string/title_activity_buscar_cliente_ventas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityComisionesEstadisticas"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityEstadisticas"
            android:label="@string/title_activity_estadisticas" />
        <activity
            android:name=".ActivityEleccionRepartidores"
            android:label="@string/title_activity_eleccion_repartidores"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityCargasDescargas"
            android:configChanges="screenSize|orientation"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ActivityDatosPersonalesPatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityMapaSupervisores"
            android:label="@string/title_activity_mapa_supervisores"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".ActivityCargasDescargasAnteriores"></activity>

    </application>

</manifest>