<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jumpi.repartidores_aplication">

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_app_prueba1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".LoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">

            <!--
                    <intent-filter>
                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />
                    </intent-filter>
            -->

        </activity>




        <!-- #################### Para REPARTIDORES ########################### -->


        <activity
            android:name=".Repartidores_Main_Activity"
            android:label=" "
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>     -->
        </activity>


        <activity
            android:name=".Mapa_Repartidores"
            android:label=""
            android:parentActivityName=".Repartidores_Main_Activity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
         <intent-filter>
             <action android:name="android.intent.action.MAIN" />

             <category android:name="android.intent.category.LAUNCHER" />
         </intent-filter>
            -->

        </activity>


        <activity
            android:name=".NavigationRepartidores"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".RealizarVentasClientesRepartidor"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".EditarClientes"
            android:label="Editar Clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AgregarCliente"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detalle_Envases"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detalle_Articulos"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detalle_Dinero"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detalle_Faltante_Sobrante_Envases"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />





        <!-- ########################## Para SUPERVISORES ########################### -->
        <activity
            android:name=".MainActivitySupervisores"
            android:label=" "
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">


                                    <intent-filter>
                                        <action android:name="android.intent.action.MAIN" />

                                        <category android:name="android.intent.category.LAUNCHER" />
                                    </intent-filter>


        </activity>
        <activity
            android:name=".CombustibleEstadisticas"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VentaBidonesEstadisticas"
            android:label=""
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NuevoEventoPatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscarResponsableParaPatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EntregaRetiroEnvasesPatrocinio"
            android:configChanges="screenSize|orientation"
            android:label=" "
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".NuevoResponsablePatrocinio"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BuscarClienteParaRealizarVenta"
            android:label="Buscar Cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RealizarVentasClientesSupervisor"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComisionesEstadisticas"
            android:label="@string/title_activity_envases"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OpcionesEstadisticas"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EleccionRepartidores"
            android:label="Elija un Repartidor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Cargas_Descargas"
            android:configChanges="screenSize|orientation"
            android:label="@string/title_activity_cargas_descargas"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".DatosPersonalesResponsable"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mapa_Supervisores"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".Frecuencia_De_Consumo"
            android:label="@string/title_activity_frecuencia__de__consumo"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>